facebook  , bmw ,  mhrd , bill  & milinda foundration , 
mslgroup , weber , hilton , EY, 


DGH , ford, nsdl , cdsl , 



increase size of weber and ministy of petroliam, 





1)  text for portfolio images, 
2)   images for about us, 



3) backgroud for contact page. 
4)  header logo backgroud color.
5)  